<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>index</title>
    <style>
        .c1{
            color:red
        }
    </style>
</head>
<body>
    <h1>中国联通</h1>
    <h3>广西</h3>
    <a href="/news" target="_blank">跳转</a>
    <img src="/static/img/1.jpg"/>
    <h1>数据表</h1>
    <table border=1>
        <thead>
            <tr> <th>姓名</th> <th>年龄</th> </tr>
        </thead>
        <tbody>
            <tr>  <td>zhangsan</td> <td>18</td> </tr>
            <tr>  <td>lisi</td>     <td>1</td> </tr>
        </tbody>
    </table>
    <a href="/register" target="_blank">注册</a>
    <a href="/login" target="_blank" class="c1">登录</a>
</body>
</html>