<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bootstrap</title>
    <!--开发版本-->
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">

    <!--生成版本-->
    <!-- <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.min_css">-->
</head>
<body>
    <input type="button" value="提交">
    <input type="button" value="提交" class="btn btn-primary"/>
    <input type="button" value="提交" class="btn btn-success"/>
    <input type="button" value="提交" class="btn btn-danger"/>
    <input type="button" value="提交" class="btn btn-danger btn-xs"/>


</body>
</html>